dialog {
	transition: top .225s ease-in-out;
	top: -200rem;
}

dialog[open] {
	top: 0;
	transition: top .225s ease-out;
}

dialog:not([open]), dialog[open=false] {
	display: flex;
}

dialog footer > a[role=button]:not([href]) {
	cursor: pointer;
	opacity: 1;
	pointer-events: all;
}
