:root:not([data-theme=dark]), [data-theme=light] {
	--color: #000000;
	/*--h1-color: #322c1b;*/
	/*--h2-color: #3e3724;*/
	/*--h3-color: #493f2c;*/
	/*--h4-color: #564a37;*/
	/*--h5-color: #625841;*/
	/*--h6-color: #6d624d;*/
	/*--primary: #805d00;*/
	/*--primary-hover: #ffc01a;*/
	/*--primary-hover: #ffc01a;*/
	/*--form-element-border-color: #b9b2a2;*/
	/*--primary-focus: rgb(193 147 16 / 13%);*/
	/*--backgroud-secondary: #ffcf4f;*/
	/*--modal-overlay-background-color: rgb(226 224 213 / 80%);*/
	/*--secondary: #787159;*/
	/*--secondary-hover: #625941;*/
	/*--tooltip-background-color: #805d00;*/
	/*--background-color-loader: rgb(237 240 243 / 60%);*/
}

/*** HTML TAG ***/
a[role='button'],
fs-link[role='button'] {
	display: flex;
	align-items: center;
	justify-content: center;
}

textarea:focus {
    --box-shadow: none;
}

/*** IMAGES ***/
svg {
	width: 1rem;
	height: 1rem;
	stroke: currentColor;
	fill: currentColor;
}

/*** LAYOUT ***/
*,
html {
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	align-content: center;
	overflow-y: auto;
	overflow-x: hidden;
}

.sheet #main {
	max-width: unset;
	padding: 0;
}

/*** LAYOUT ***/
dialog footer > a[role='button'] {
	display: inline-block;
}

/*** DIALOG ***/
dialog {
	transition: top .225s ease-in-out;
	top: -200rem;
}

dialog[open] {
	top: 0;
	transition: top .225s ease-out;
}

dialog:not([open]), dialog[open=false] {
	display: flex;
}

dialog footer > a[role=button]:not([href]) {
	cursor: pointer;
	opacity: 1;
	pointer-events: all;
}

/*** SHEET ***/
fs-sheet {
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	justify-content: center;
}

fs-sheet .image {
	inset: 0;
	position: absolute;
	z-index: 1;
}

fs-sheet .image > div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: inherit;
	height: inherit;
}

fs-sheet form {
	display: contents;
}

fs-sheet > div > label > input[type=number],
fs-sheet > div > label > input[type=text],
fs-sheet > div > label > textarea {
    padding: 0 !important;
    border: 0;
    margin: 0 !important;
    text-align: center;
    line-height: 1;
    font-family: sans-serif;
}

fs-sheet > div > label > input[type=text],
fs-sheet > div > label > textarea {
	text-align: left;
}

fs-sheet > div > label > textarea {
	line-height: 1.1;
	resize: none;
	overflow: hidden;
	display: block;
}

fs-sheet > div > label > textarea:hover {
	overflow: auto;
}

fs-sheet label {
	margin: 0;
}

fs-sheet > div > label {
    inset: 0;
    position: absolute;
	width: fit-content;
	height: fit-content;
	z-index: 2;
}

fs-sheet > div > label article {
	margin: 0;
	padding: 1rem;
	width: max-content;
	position: absolute;
}

fs-sheet > div > label article input,
fs-sheet > div > label article select {
	height: 1.5rem !important;
	margin-bottom: 0.5rem !important;
	max-width: 12rem;
}

fs-sheet > div > label article select {
    padding: 0rem 1rem;
}

fs-sheet > div > label > input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

fs-sheet > div > label > input[type=number] {
  -moz-appearance: textfield;
}

fs-sheet > div > label > input[readonly],
fs-sheet > div > label > textarea[readonly] {
  border: 1px solid silver !important;
  cursor: default;
  background: #c0c0c05e !important;
}

fs-sheet > div > label.selected input[readonly],
fs-sheet > div > label.selected > textarea[readonly],
fs-sheet> div > div.selected {
	box-shadow: 0 0 0 1px #bf1919;
}

fs-sheet > div > label.selected input[readonly],
fs-sheet > div > label.selected > textarea[readonly] {
	background: #ab8c8c5e !important;
}

fs-sheet > div > label.selected,
fs-sheet> div > div.selected {
	z-index: 1000;
}

fs-sheet label > span {
	display: none;
}

fs-sheet button.edit,
fs-sheet button.notepad {
	width: fit-content;
	margin: 0.5em 0 0.5em 0.5em;
	padding: 0.3em 0.8em;
	opacity: 0.4;
	transition: background-color var(--transition),border-color var(--transition),color var(--transition),box-shadow var(--transition), opacity var(--transition);
	display: inline-block;
	position: absolute;
}

fs-sheet button.notepad {
	left: 5em;
}

fs-sheet button.edit:hover,
fs-sheet button.notepad:hover {
	opacity: 1;
}

fs-sheet .editMode {
	box-shadow: inset 0 0 0 5px #bf1919;
}

article ul li {
	list-style: none;
}

.hidden article.editBlock,
.hidden article.selectBlock {
	display: none;
}

article.editBlock,
article.selectBlock {
	position: absolute;
	margin: 0;
	top: 5px;
	padding: 2rem;
	bottom: 5px;
	border-radius: 0;
	z-index: 1000;
}

.hover article.editBlock,
.hover article.selectBlock {
	opacity: 0;
	transition: opacity var(--transition);
}

article.editBlock {
	left: 5px;
	display: flex;
	flex-direction: column;
}

article.selectBlock {
	right: 5px;
}

.hover article.editBlock:hover,
.hover article.selectBlock:hover {
	opacity: 1;
	transition: opacity var(--transition);
}

.isMoving article.editBlock:hover,
.isMoving article.selectBlock:hover,
.isResizing article.editBlock:hover,
.isResizing article.selectBlock:hover {
	opacity: 0;
	transition: none;
}

article.editBlock > div.viewBlock {
	margin-bottom: var(--spacing);
	display: flex;
	gap: 0.3em;
}

.wrapper > div.viewBlock {
	margin: 0.5rem;
}

article.editBlock > div.validBlock {
	display: flex;
	gap: 1rem;
	margin-top: auto;
	flex-direction: column;
}

article.editBlock > div > button {
	margin: 0;
}

article.editBlock button.save {
	position: relative;
}

.viewBlock > a.selected {
   --box-shadow: inset 0 1px 5px rgb(0 0 0 / 75%), 0 1px 1px rgb(255 255 255 / 35%);
   border: 0;
   --background-color: var(--primary-hover);
}

fs-sheet article label > span {
	display: block;
	font-size: 0.8rem;
}

fs-sheet article label[for='id'] > span {
	display: none;
}

fs-sheet article label > input,
fs-sheet article label > select {
	margin-top: 0;
	margin-bottom: 0 !important;
	padding: 0.2em 0.5em;
	max-height: 2em;
}

fs-sheet article fs-label {
	margin-top: var(--spacing);
	display: block;
}

.rectangle {
    border: 2px solid #bf1919;
    position: absolute;
    border-radius: 0.3em;
}

fs-sheet > div.editMode > div.image {
	border-radius: 0.3em;
	transition: none;
	cursor: default;
}

fs-sheet > div > div.image {
	transition: all var(--transition);
	cursor: pointer;
}

fs-sheet > div > div.image.isZoomed {
	z-index: 1000;
	transform: none !important;
	-webkit-transform: none !important;
	width: 100% !important;
	height: 100% !important;
	background-color: #00000073;
	transition: all var(--transition);
}

a.cloneInput,
a.deleteInput,
a.viewSelection,
a.saveButton {
	width: 2rem;
	height: 2rem;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

a.saveButton {
	margin-left: auto;
}

article input[type=color] {
	padding: 0;
}

/*** RESIZER ***/
.resizeHandler {
	border: 2px solid #bf1919;
	background: #ddd2cfc7;
	position: absolute;
}

.leftTop,
.rightBottom {
    cursor: nw-resize;
}

.leftCenter,
.rightCenter {
    cursor: e-resize;
}

.centerTop,
.centerBottom {
    cursor: n-resize;
}

.rightTop,
.leftBottom {
    cursor: ne-resize;
}

/*** TITLES ***/
h1 {
	font-family: 'Rubik Glitch', cursive;
	padding: 0 1rem;
	font-size: 3rem;
	font-weight: normal;
	position: absolute;
	top: -0.5rem;
	right: 0;
}

h1 > a {
	color: inherit;
}

h1 > a:hover {
	text-decoration: none;
}

h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
}

h2 {
	text-align: center;
	font-size: 2rem;
}

/*** HOME ***/
.home .title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home .title h2 {
	margin: 0;
}

.home .title button {
	margin: 0 1rem;
}

.home .title button,
.home ul button {
	width: 2rem;
	height: 2rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home .title button > span,
.home ul button > span {
	display: none;
}

.home ul {
	max-width: 35rem;
	margin: auto !important;
}

.home li > div.characterSheets {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--grid-spacing-horizontal);
}

.home li > div.characterSheets > a {
	flex: 1;
	font-size: 1.7rem;
}

.home li > div.grid.characterSheets {
	align-items: center;
	position: relative;
	display: grid;
}

/*** LOADER ***/
fs-loader {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #fff;
	width: 100%;
	border-radius: var(--border-radius);
	top: 0;
	left: 0;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 8px solid;
	border-color: var(--primary-hover) transparent var(--primary) transparent;
	border-radius: 50%;
	animation: spin-anim 1.2s linear infinite;
}

/*** SCROLLBARS ***/
*::-webkit-scrollbar {
	width: 5px;
}

* {
	scrollbar-color: var(--primary) var(--secondary);
}

*::-webkit-scrollbar-track {
	background: var(--secondary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 6px;
}

@keyframes spin-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
