/** HTML */
body {
	font-family: "Inter", serif;
	max-width: var(--pico-max-width);
	margin: auto;
}

header  {
	display: flex;
	gap: 2em;
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--pico-background-color);
	padding: 1em;
}

main {
	padding-left: 1em !important;
	padding-right: 1em !important;
}

h1 {
	font-family: "Marcellus SC", serif;
	margin: 0;
}

h1 > rv-link {
	text-decoration: none;
	--pico-color: var(--pico-color);
	font-size: 28px;
	cursor: pointer;
}

h1 > rv-link:hover {
	--pico-color: var(--pico-color) !important;
}

h2, h3, h4, h5, h6 {
	font-family: "Archivo", serif;
	--pico-color: var(--pico-color);
}

svg{
    width: 1.3rem;
    height: 1.3rem;
    stroke: currentColor;
    fill: currentColor;
}

a[role=button],
rv-link[role='button'] {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.error {
	color: var(--error-color);
	font-style: italic;
	text-align: center;
}

/** FOOTER */
footer {
	text-align: center;
	margin-top: 2em;
	background: var(--pico-secondary-background);
}

footer div:first-child {
	font-family: "Marcellus SC", serif;
	font-size: 32px;
}

@media (min-width: 576px) {
    .container {
		max-width: max-content;
    }
}
