#header > rv-menu {
	flex: 1;
}

rv-menu ul {
	display: flex;
	margin: 0;
}

rv-menu li {
	list-style: none;
}

#header > rv-menu li rv-link {
	background: none;
	border: none;
	color: var(--pico-secondary);
	font-weight: normal;
	border-radius: 0;
	padding: 0.5em var(--pico-form-element-spacing-horizontal) 1em;
}

#header > rv-menu li[data-selected='true'] rv-link {
	color: var(--pico-primary);
	font-weight: bold;
	border-bottom: solid 3px var(--pico-primary);
}

rv-sheet rv-menu {
    position: absolute;
    top: 3.1em;
    left: 0.5em;
    display: flex;
	flex-direction: column-reverse;
	z-index: 10;
}

rv-sheet rv-menu ul {
	padding: 0;
    display: block;
}

rv-sheet rv-menu li rv-link {
	justify-content: left !important;
}

rv-menu[data-burger] {
	order: 1;
	flex: 0 !important;
}

rv-menu[data-burger] > div {
	background: var(--pico-background-color);
	position: fixed;
	z-index: 2;
	inset: 0;
}

rv-menu[data-burger] > div > ul {
	display: list-item;
}

rv-menu > div[data-hidden='true'] {
	display: none;
}

rv-menu[data-burger] button.back,
rv-menu[data-burger] button.burger {
	background: transparent;
	border: none;
	color: var(--pico-color);
	width: auto;
}

rv-menu[data-burger] button.burger {
	padding-top: 0;
}

rv-menu[data-burger] button.back > span,
rv-menu[data-burger] button.burger > span {
	display: none;
}

rv-menu[data-burger] button.back > svg,
rv-menu[data-burger] button.burger > svg {
	width: 2rem;
	height: 2rem;
}

.is_burger header h1 {
	order: 2;
	flex: 1 0 auto;
}

.is_burger rv-logged-user {
	order: 3;
}

.is_burger #header > rv-menu li[data-selected='true'] rv-link {
	border: 0;
}

.is_burger #header > rv-menu li rv-link {
	font-size: 1.5em;
}
