body.sheet {
	height: 100vh;
	max-width: unset;
}

.sheet #main {
	max-width: unset;
	padding: 0 !important;
}

rv-sheet {
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	justify-content: center;
}

rv-sheet .image {
	inset: 0;
	position: absolute;
	z-index: 1;
}

rv-sheet .image > div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: inherit;
	height: inherit;
}

rv-sheet form {
	display: contents;
}

rv-sheet > div > label > input:focus {
    --box-shadow: none !important;
}

rv-sheet > div > label > input[type=number],
rv-sheet > div > label > input[type=text],
rv-sheet > div > label > textarea {
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
    line-height: 1;
    font-family: sans-serif;
    --pico-background-color: transparent !important;
	--pico-border-color: transparent !important;
}

rv-sheet > div > label > input[type=text],
rv-sheet > div > label > textarea {
	text-align: left;
}

rv-sheet > div > label > textarea {
	line-height: 1.1;
	resize: none;
	overflow: hidden;
	display: block;
}

rv-sheet > div > label > textarea:hover {
	overflow: auto;
}

rv-sheet label {
	margin: 0;
}

rv-sheet > div > label {
    top: 0;
    left: 0;
    position: absolute;
	width: fit-content;
	height: fit-content;
	z-index: 2;
}

rv-sheet > div > label article {
	margin: 0;
	padding: 1rem;
	width: max-content;
	position: absolute;
}

rv-sheet > div > label article input,
rv-sheet > div > label article select {
	height: 1.5rem !important;
	margin-bottom: 0.5rem !important;
	max-width: 12rem;
}

rv-sheet > div > label article select {
    padding: 0 1rem;
}

rv-sheet > div > label > input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

rv-sheet > div > label > input[type=number] {
  -moz-appearance: textfield;
}

rv-sheet > div > label > input[readonly],
rv-sheet > div > label > textarea[readonly] {
  border: 1px solid var(--read-only-input-color);
  cursor: default;
  background: var(--read-only-input-background);
}

rv-sheet > div > label.selected input[readonly],
rv-sheet > div > label.selected > textarea[readonly],
rv-sheet> div > div.selected {
	box-shadow: 0 0 0 1px var(--error-color);
}

rv-sheet > div > label.selected input[readonly],
rv-sheet > div > label.selected > textarea[readonly] {
	background: var(--read-only-input-background-selected);
}

rv-sheet > div > label.selected,
rv-sheet> div > div.selected {
	z-index: 1000;
}

rv-sheet button.edit,
rv-sheet button.notepad,
rv-sheet button.burger,
rv-sheet button.print {
	width: fit-content;
	margin: 0.5em 0 0.5em 0.5em;
	padding: 0.3em 0.8em;
	opacity: 0.4;
	transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), opacity var(--pico-transition);
	display: inline-block;
	height: fit-content;
	z-index: 1000;
}

rv-sheet button.print {
	margin-left: auto;
	margin-right: 0.5em;
}

rv-sheet button.burger > span,
rv-sheet button.print > span,
rv-sheet button.edit > span {
	display: none;
}

rv-sheet button.edit:hover,
rv-sheet button.notepad:hover,
rv-sheet button.burger:hover,
rv-sheet button.print:hover,
rv-sheet button.notepad.selected,
rv-sheet button.burger.selected {
	opacity: 1;
}

rv-sheet .editMode {
	box-shadow: inset 0 0 0 5px var(--error-color);
}

article ul li {
	list-style: none;
}

.hidden article.editBlock,
.hidden article.selectBlock {
	display: none;
}

article.editBlock,
article.selectBlock {
	position: absolute;
	margin: 0;
	top: 5px;
	padding: 2rem;
	bottom: 5px;
	border-radius: 0;
	z-index: 1000;
}

article.editBlock.hasMoved,
article.selectBlock.hasMoved {
	bottom: auto;
}

.hover article.editBlock,
.hover article.selectBlock {
	opacity: 0;
	transition: opacity var(--pico-transition);
}

article.editBlock {
	left: 5px;
	display: flex;
	flex-direction: column;
	gap: var(--pico-spacing);
}

article.selectBlock {
	right: 5px;
}

.hover article.editBlock:hover,
.hover article.selectBlock:hover {
	opacity: 1;
	transition: opacity var(--pico-transition);
}

/* TODO A remettre */
/*.isMoving article.editBlock:hover,*/
/*.isMoving article.selectBlock:hover,*/
/*.isResizing article.editBlock:hover,*/
/*.isResizing article.selectBlock:hover {*/
/*	opacity: 0;*/
/*	transition: none;*/
/*}*/

article.editBlock > div.viewBlock {
	margin-bottom: var(--pico-spacing);
	display: flex;
	gap: 0.3em;
}

.wrapper {
	display: flex;
}

.wrapper > div.viewBlock {
	margin: 0.5rem;
}

article.editBlock > div.validBlock {
	display: flex;
	gap: 1rem;
	margin-top: auto;
	flex-direction: column;
}

article.editBlock > div > button {
	margin: 0;
}

article.editBlock button.save {
	position: relative;
}

.viewBlock > a.selected {
   --pico-box-shadow: inset 0 1px 5px rgb(0 0 0 / 75%), 0 1px 1px rgb(255 255 255 / 35%);
   --pico-border-color: var(--pico-primary-background-select);
   --pico-background-color: var(--pico-primary-background-select);
}

rv-sheet article label > span {
	display: block;
	font-size: 0.8rem;
}

rv-sheet article label[for='id'] > span {
	display: none;
}

rv-sheet article label > input,
rv-sheet article label > select {
	margin-top: 0;
	margin-bottom: 0 !important;
	padding: 0.2em 0.5em;
	max-height: 2em;
}

rv-sheet article rv-label {
	margin-top: var(--pico-spacing);
	display: block;
}

.rectangle {
    border: 2px solid var(--error-color);
    position: absolute;
    border-radius: 0.3em;
}

rv-sheet > div.editMode > div.image {
	border-radius: 0.3em;
	transition: none;
	cursor: default;
}

rv-sheet > div > div.image {
	transition: all var(--pico-transition);
	cursor: pointer;
}

rv-sheet > div > div.image.isZoomed {
	z-index: 1000;
	transform: none !important;
	-webkit-transform: none !important;
	width: 100% !important;
	height: 100% !important;
	background-color: #00000073;
	transition: all var(--pico-transition);
}

a.cloneInput,
a.deleteInput,
a.viewSelection,
a.saveButton {
	width: 2rem;
	height: 2rem;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

a.saveButton {
	margin-left: auto;
}

article input[type=color] {
	padding: 0;
}

/*** RESIZER ***/
.resizeHandler {
	border: 2px solid var(--resize-handler-color);
	background: var(--resize-handler-background);
	position: absolute;
}

.leftTop,
.rightBottom {
    cursor: nw-resize;
}

.leftCenter,
.rightCenter {
    cursor: e-resize;
}

.centerTop,
.centerBottom {
    cursor: n-resize;
}

.rightTop,
.leftBottom {
    cursor: ne-resize;
}

/*** HISTORIQUE ***/
article#historyBlock {
	z-index: 1001;
	min-width: 18em;
	margin: auto;
	padding: 0;
}

article#historyBlock > header {
	padding: 0.5em;
	font-size: 1.5em;
	display: flex;
	margin: 0;
}

article#historyBlock > main {
	padding: 1em;
	overflow: auto;
	height: 20em;
}

article#historyBlock button {
	background: none;
    border: none;
    color: var(--pico-primary);
    margin: 0;
    padding: 0;
    text-align: left;
}

button.cancelable {
	color: var(--pico-form-element-selected-background-color) !important;
	font-style: italic;
}

/*** NOTEPAD ***/
rv-sheet .notepadMode article#notepad {
	padding: 0;
	position: absolute;
	left: 1em;
	top: 3em;
	margin: 0;
	z-index: 998;
	height: 90%;
	right: 1em;
	display: flex;
	flex-direction: column;
}

rv-sheet .notepadMode article#notepad textarea {
	padding: 1em;
	border: 0;
	margin: 0;
	text-align: left;
	line-height: 1.1;
	resize: none;
	overflow: hidden;
	display: block;
	height: 100%;
	font-family: 'Satisfy', cursive;
	font-size: 1.3em;
	color: var(--pico-secondary);
}

rv-sheet .notepadMode article#notepad textarea:hover {
	overflow: auto;
}

rv-sheet .notepadMode article#notepad button.addTab span {
	display: none;
}

rv-sheet .notepadMode article#notepad button.addTab {
    border: none;
    padding: 0.3em 0.5em;
    border-radius: 50px;
    display: flex;
    height: 33px;
    align-items: center;
}

rv-sheet .notepadMode article#notepad button.addTab:hover {
	background: var(--inv-primary);
	filter: brightness(0.9);
}

rv-sheet .notepadMode article#notepad nav ul {
	margin: 0;
}

rv-sheet .notepadMode article#notepad nav ul li {
	height: 87px;
	display: flex;
	align-items: center;
	position: relative;
}

rv-sheet .notepadMode article#notepad [role=tabpanel] {
	height: inherit;
}

rv-sheet .notepadMode article#notepad [role=tab] {
	padding: var(--pico-nav-link-spacing-vertical) calc(var(--pico-nav-link-spacing-horizontal)*1.5);
	user-select: none;
	color: var(--pico-secondary);
	transition: all .25s;
	margin: 0 1px;
	border-radius: 0.3em 0.3em 0 0;
	height: 50px;
	min-width: 65px;
	max-width: 9em;
	display: flex;
	justify-content: center;
	background: var(--inv-primary);
	align-items: center;
}

rv-sheet .notepadMode article#notepad [role=tab] input {
    height: 100%;
    width: 100%;
}

rv-sheet .notepadMode article#notepad [role=tab]:hover {
	background: var(--notepad-tab-background);
    --pico-text-decoration: none;
    color: var(--pico-contrast);
}

rv-sheet .notepadMode article#notepad [role=tab][aria-current] {
	color: var(--pico-contrast);
	border-color: var(--pico-contrast);
	border-radius: 0.3em 0.3em 0 0;
	box-shadow: 0 -5px 7px var(--pico-modal-overlay-background-color);
	background: var(--pico-primary-inverse);
	margin: 0 1px;
}

rv-sheet .notepadMode article#notepad [role=tab][aria-current]:hover {
	filter: none;
	cursor: default;
}

rv-sheet .notepadMode article#notepad section {
      height: 100%;
      margin: 0;
}

rv-sheet .notepadMode article#notepad button.removeTab {
      position: absolute;
      background: transparent;
      border: none;
      color: var(--pico-primary);
	  padding: 0;
	  width: 0.7em;
	  height: 0.7em;
	  display: flex;
	  top: 1.5em;
	  right: 0.7em;
}

rv-sheet .notepadMode article#notepad button.removeTab svg {
	width: inherit;
	height: inherit;
}

rv-sheet .notepadMode article#notepad button.removeTab span {
      display: none;
}

rv-sheet textarea:focus,
rv-sheet input:focus {
	--pico-box-shadow: transparent !important;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .edit,
  .add,
  .clone,
  .remove {
    display: none !important;
  }
}
